<div class="form-group ba-form-group ba-avatar-upload">
    <div class="avatar">
        <img src="{{image || defaultImage}}" alt="">
    </div>
    <div class="file-name">
        {{imageName}}
    </div>
    <div class="button-groups">
        <button class="btn" [ngClass]='{"btn-default": !image, "btn-danger": image}' (click)="removeLogo()">
            <i class="fa fa-times"></i>
        </button>
        <button class="btn btn-primary" (click)="chooseFile()">
            <i class="fa fa-file-image-o" aria-hidden="true"></i>
        </button>
    </div>
</div>