<div class="ba-header">
    <div class="header-left">
        <span class="header-button ba-pointer" menuToggle>
          <i class="fa fa-bars" aria-hidden="true"></i>
      </span>
    </div>
    <div class="header-main" #headerMain>
        <div class="search-bar" *ngIf="showSearchBar" #searchBar>
            <span class="search-button ba-pointer" #searchButton>
                <i class="fa fa-search search" aria-hidden="true"></i>
                <i class="fa fa-times cancel" aria-hidden="true"></i>
            </span>
            <input #searchInput type="text" class="search-input" placeholder="{{placeholder}}" />
        </div>
    </div>
    <div class="header-right">
        <div [class.active]="showOverlay=='inbox'" class="message header-button ba-pointer" (click)="toggleActive('inbox')">
            <div class="button-content">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <span class="bagde">3</span>
            </div>
            <div class="overlay-content" (click)="onOverlayClick()">
                <div class="overlay-header">
                    <span>Bạn có 3 tin nhắn mới</span>
                </div>
                <div class="overlay-body">
                    <div class="overlay-item">
                        <span>Khách hàng đặt hàng qua điện thoại</span>
                    </div>
                    <div class="overlay-item">
                        <span>Khách hàng gửi phản hồi</span>
                    </div>
                    <div class="overlay-item">
                        <span>Nhập xuất lô hàng mới</span>
                    </div>
                    <div class="overlay-item">
                        <span>Doanh thu tăng đột biến</span>
                    </div>
                    <div class="overlay-item">
                        <span>Nhà bếp quá tải</span>
                    </div>
                </div>
            </div>
        </div>
        <div [class.active]="showOverlay=='notification'" class="notification header-button ba-pointer" (click)="toggleActive('notification')">
            <div class="button-content">
                <i class="fa fa-bell" aria-hidden="true"></i>
                <span class="bagde">5</span>
            </div>
            <div class="overlay-content" (click)="onOverlayClick()">
                <div class="overlay-header">
                    <span>Bạn có 5 thông báo mới</span>
                </div>
                <div class="overlay-body">
                    <div class="overlay-item">
                        <span>Khách hàng đặt hàng qua điện thoại</span>
                    </div>
                    <div class="overlay-item">
                        <span>Khách hàng gửi phản hồi</span>
                    </div>
                    <div class="overlay-item">
                        <span>Nhập xuất lô hàng mới</span>
                    </div>
                    <div class="overlay-item">
                        <span>Doanh thu tăng đột biến</span>
                    </div>
                    <div class="overlay-item">
                        <span>Nhà bếp quá tải</span>
                    </div>
                </div>
            </div>
        </div>
        <div [class.active]="showOverlay=='avatar'" class="avatar ba-pointer" (click)="toggleActive('avatar')">
            <img src="assets/bistro-admin/images/avatar-placeholder.png" alt="Avatar">
            <div class="overlay-content" (click)="onOverlayClick()">
                <div class="overlay-header">
                    <span>Tài khoản</span>
                </div>
                <div class="overlay-body">
                    <div class="overlay-item">
                        <span>Thông tin tài khoản</span>
                    </div>
                    <div class="overlay-item">
                        <span>Đổi mật khẩu</span>
                    </div>
                </div>
                <div class="overlay-footer" (click)="logOut()">
                    <span class="btn-logout ba-pointer">Đăng xuất</span>
                </div>
            </div>
        </div>
    </div>
</div>