ba-progress {
    .ba-progress {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 5px;
        z-index: 20;
        border-radius: 0;
    }
    .animating {
        transition: width 300ms ease-in-out;
    }
}